 
  .sidebar {
    width: 25%;
    height: 100vh; 
  }
  
  .sidebar ul {
    margin: 0;
    list-style: none;
    padding: 25px 0;
  }
  
  .sidebar ul li {
    padding: 0 15px;
    margin-bottom: 15px;
    margin-left: 2px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #e7e9ed;
    font-weight: 0;
    font-size: 17px;
  }
  
  .sidebar ul li .MuiSvgIcon-root {
    background: #404041;
    padding: 10px;
    border-radius: 100%;
    color: #e7e9ed;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    margin-right: 10px;
    
  }
  
  .see_more {
    color: #e7e9ed;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
  }
  
  .sidebar ul li a img {
    width: 37px;
    margin-right: 10px;
  }
  
  .border {
    margin-left: 20px;
    width: 280px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.08);
    border-width: 1px;
  }
  
  .shortcut_title {
    margin: 15px 20px;
    color: #e7e9ed;
    font-size: 17px;
    font-weight: 500;
  }
  
  .shortcuts_wrapper {
    padding: 0 15px;
  }
  
  .shortcuts_wrapper a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #e7e9ed;
    font-weight: 500;
    font-size: 15px;
  }
  
  .shortcuts_wrapper a img {
    width: 37px;
    margin-right: 10px;
    border-radius: 50%;
  }