.share {
    background-color: #242526;
    border-radius: 10px;
    padding: 15px;
  }
  
  .share_upSide {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .share_upSide img {
    margin-right: 7px;
    width: 38px;
  }
  
  .share_upSide input {
    flex: 1;
    padding: 12px 0 12px 12px;
    background: #3a3b3c;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color: #a8abaf;
  }
  
  .share_upSide input:focus {
    outline: none;
  }
  
  .media_container hr {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.08);
    border-width: 1px;
  }
  
  .share_downSide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    height: 40px;
  }
  
  .share_downSide_link {
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding:0;
  }
  
  .share_downSide_link:hover {
    background: #3a3b3c;
    border-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .share_downSide_link .MuiSvgIcon-root {
    font-size: 25px;
    margin-right: 5px;
    
  }
  
  .share_downSide_link span {
    color: #b7babe;
    font-size: 15px;
    font-weight: 500;
  }
  
  .live-video-icon {
    color: #f23e5c;
  }
  
  .photo-video-icon {
    color: #58c472;
  }
  
  .feeling-icon {
    color: #f8c03e;
  }