.navbar {
    background: #242526;
    width: 100vw;
    padding: 0 10px 0 10px;
    height: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .navbar_left {
    width: 25%;
    display: flex;
    align-items: center;
  }
  
  .navbar_logo {
    width: 48px;
    height: 49px;
    margin-right: 5px;
    margin-left: 2px;
    
  }
  
  .input-icons > .MuiSvgIcon-root {
    position: absolute;
    text-decoration: none;
    color: #b8bbbf;
    font-size: 23px;
    margin-top: 9px;
    margin-left: 8px;
  }
  
  .input-icons {
    width: 100%;
  }
  
  .icon {
    padding: 13px 6px;
    color: #a8abaf;
    min-width: 20px;
    text-align: center;
    margin-right: 8px;
    margin-left: 4px;
  }
  
  .input-field {
    width: 76%;
    padding: 11.5px 35px 11.5px 35px;
    background: #3a3b3c;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 100px;
    color: #a8abaf;
  }
  
  .input-field:focus {
    outline: none;
  }
  
  ::placeholder {
    color: #a8abaf;
  }
  
  .navbar_center {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar_center a {
    width: 125px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
  }
  
  .navbar_center a:hover {
    background: #3a3b3c;
    border-radius: 10px;
    height: 55px;
    border: none;
  }
  
  .active_icon {
    border-bottom: 3px solid #2d88ff;
  }
  .active_icon i {
    color: #2d88ff !important;
  }
  
  .navbar a {
    text-decoration: none;
    color: #b8bbbf;
    font-size: 23px;
  }
  
  .navbar_right {
    width: 25%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 25px;
  }
  
  .navbar_right_profile {
    display: flex;
    align-items: center;
    height: 40px;
    margin-right: 20px;
    transition: 0.2s;
  }
  
  .navbar_right_profile:hover {
    background: #3a3b3c;
    border-radius: 25px;
    padding: 0 5px;
  }
  
  .navbar_right_profile img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  
  .navbar_right_profile span {
    color: #e7e9ed;
    font-size: 15px;
    font-weight: 500;
  }
  
  .navbar_right_links .MuiSvgIcon-root {
    margin-right: 5px;
    background: #404041;
    padding: 12px;
    border-radius: 100%;
    color: #e7e9ed;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
  }
  
  .navbar_right_links i.MuiSvgIcon-root:hover {
    background: #4e4f50;
  }