.widgets {
    width: 25%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
  }


  .widgets_inner {
    width: 80%;
    padding-right: 10px;
  }
  .sponsored{
    color: #a1a4a9;
    margin: 15px 0;
   
  }
  .sponsored h3{
    font-size: 18px;
    font-weight: 500;
  }

  .friend_requests_top{
      display:flex;
      align-items: center;
      justify-content: space-between;
      
      
  }
  .friend_requests_top h3{
    font-size: 18px;
    font-weight: 500;
    color: #a1a4a9;
  }
  .seeAll{
      color:#2d88ff  !important ;
  }
  .friend_requests_bottom{
      display: flex;

  }
  .friend_requests_bottom_content{
      width: 90%;
      font-size: 0px;
  }
  .friend_requests_bottom img {
    width: 40px;
    height: 40px;
    margin-right: 7px;
  }
  .friend_requests_bottom_content p {
    color: #e4e6eb;
    font-weight: 500;
    margin-left: 6px;
    font-size: 16px;
    margin: 0;
    padding-left: 6px;
    padding-bottom: 3px;

  }
  
  .friend_requests_bottom_content span {
    color: #b7babe;
    font-size: 12px;
    margin-left: 6px;
    padding: 6px;
    margin: 0;
  }
  .friend_requests_buttons{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 12px 0;
  }
  .friend_requests_buttons button{
      width: 48%;
      border-radius: 5px;
      padding: 5px;
      background-color: #2d88ff;
      color: white;
      border: none;
  }
  .delete{
    background-color: rgba(255, 255, 255, 0.08) !important;
   
  }
  .your_pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    color: #a1a4a9;
  }
  
  .your_pages h3 {
    font-size: 18px;
    font-weight: 500;
  }
  
  .widgets ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
  }
  
  .widgets ul li {
    margin-bottom: 20px;
  }
  
  .widgets ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #e5e7eb;
    font-weight: 500;
  }
  
  .widgets ul li a img {
    width: 37px;
    margin-right: 10px;
    border-radius: 100%;
  }
  
  .widgets_small_text {
    font-size: 13px;
    color: #b0b2b6;
    padding-top: 0;
  }
  
  .widgets_small_text a {
    padding-left: 20px;
  }
  
  .widgets_small_text a .MuiSvgIcon-root  {
    margin-right: 15px;
  }
  
  .widgets_divider {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.08);
    border-width: 1px;
  }
  
  .birthdays {
    margin: 15px 0;
    color: #a1a4a9;
  }
  
  .birthdays h3 {
    font-size: 18px;
    font-weight: 500;
  }
  
  .contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    color: #a1a4a9;
  }
  
  .contacts h3 {
    font-size: 18px;
    font-weight: 500;
  }
  
  .contacts .MuiSvgIcon-root {
    margin-left: 15px;
  }
