.post {
    background-color: #242526;
    border-radius: 10px;
    margin: 15px 0;
  }
  
  .post_title {
    padding: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .post_title img {
    width: 40px;
    margin-right: 7px;
  }
  
  .post_title_content {
    text-align: left;
  }
  .time_info {
    display: flex;
    align-items: center;
  }

  .time_info .MuiSvgIcon-root {
    color: #b7babe;
    font-size: 15px;
  }
  .post_title_content p {
    color: #e4e6eb;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
  
  .post_title_content span {
    color: #b7babe;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  
  
  .post_description {
    min-height: 400px;
  }
  
  .post_subtitle {
    padding: 0 15px;
    color: #e4e6eb;
    font-size: 15px;
    text-align: left;
    margin-bottom: 15px;
  }
  
  .post_description img {
    object-fit: cover;
    width: 100%;
    height: 400px;
  }

  .likes_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
  }
  
  .emojis {
    display: flex;
    align-items: center;
  }
  
  .emojis img {
    width: 24px;
    margin-right: -3px;
  }
  
  .emojis span {
    color: #b7babe;
    margin-left: 10px;
  }
  
  .comment_counts {
    color: #b7babe;
  }
  
  .divider {
    padding: 0 15px 0 15px;
  }
  
  .likes_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    height: 35px;
  }
  
  .likes_buttons_links {
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b4b7bb;
    font-weight: 500;
  }
  
  .likes_buttons_links:hover {
    background: #3a3b3c;
    border-radius: 5px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .likes_buttons_links .MuiSvgIcon-root {
    font-size: 18px;
    margin-right: 10px;
  }