
  .story-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 2;
    
  }
  
  .story-upper {
    display: flex;
    
  }
  .backward {
    width:  25px;
    height: 25px;
    margin-top: 330px;
    margin-left: 213px;
    border-radius: 100%;
    background: #242526;
    padding: 12px;
    cursor: pointer;
    transition: 0.2s;
  }
  .backward:hover {
    background: #404041;
    transform: translateX(-6px);
  }
  .forward {
    width: 25px;
    height: 25px;
    margin-top: 330px;
    margin-right: 12px;
    background: #242526;
    border-radius: 100%;
    padding: 12px;
    cursor: pointer;
    transition: 0.2s;
  }
  .forward:hover {
    background: #404041;
    transform: translateX(6px);
  }
  .top_right_icons {
    width: 21px;
    height: 21px;
    margin-top: 8px;
    margin-right: 9px;
    background: #242526;
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
  }
  .top_right_icons:hover {
    background: #404041;
    
  }
  .story {
    width: 384px;
    height: 677px;
    margin: auto;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    background: #242526;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 7px;
  }
  
  .story .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .title .story_left{
    display: flex;
    align-items: center;
    margin-left: 12px;
  }
  
  .story .title img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 6px;
  }
  
  .title .story_left span {
    margin-left: 6px;
    font-size: 15px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif !important;
  }
  
  .story_icons{
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .story_icons img {
    color: whitesmoke;
    margin-left: 14px;
    margin-right: 8px;
    width: 24px  !important;
    height: 22px !important;
  }
  .story_icons .MuiSvgIcon-root {
    color:whitesmoke;
    margin-left: 14px;
    margin-right: 4px;
  }
  
  #bannerImage {
     width: 384px;
     height: 537px;
     margin-top: 30px;
     
  }
  
  .progress-bars {
    display: flex;
    margin-top: 10px;
  }
  .progress {
    background-color:rgb(80, 80, 80);
    border-radius: 100px;
    margin: 0 1px;
    height: 6px;
    width: 100%;
  }
  
  .progressbar{
    background: white;
    height: 4.5px;
    width: 0%;
    border-radius: 4px;
    animation: ProgressBar 5s linear forwards;
  
  }
  
  @keyframes ProgressBar {
    0% {
      width: 0;
    }
  
    100% {
      width: 100%;
    }
  }
  
  .comments{
    display: flex;
    align-items: center;
  }
  
  .commentsinput {
    display: flex;
    align-items: center;
    margin-top: 11px;
    width: 30%;
    height: 38px;
    align-self: center;
    margin-left: 170px;
    margin-right: 14px;
    border: 0.2px solid white;
    background-color: black;
    border-radius: 20px;
    text-align:start ;
  }
   .reply {
     color: gray;
     margin-left: 13.5px;
     font-size: 17px;
   }
  .comments img {
   width: 41px;
   height: 39px;
   margin-top: 10px;
   margin-left: 4.5px;
  }
  
  .progress-bar {
    background: white;
    height: 4.5px;
    border-radius: 4px;
    width: 0%;
  }
  
  
  .progress-bar-active {
    
     background: white;
      height: 4.5px;
      border-radius: 4px;
      animation: ProgressBar 5s linear forwards;
  }
  .progress-bar-paused {
    animation-play-state: paused;
}
  .progress-bar-finished {
    background: white;
    height: 4.5px;
    border-radius: 4px;
    width: 100%;
  }
  
  @keyframes ProgressBar {
    0% {
      width: 0%;
    }
  
    100% {
      width: 100%;
    }
  }
  
  .box_arrow-top {
    width: 360px;
    height: 118px;
    background-color: #404041;
    color: #fff;
    border-radius: 7px;
    padding: 6px;
    position: relative;
    margin: 40px;
    float: left;
    z-index: 100;
    position: absolute;
    top: 50px;
    right: 250px;
    left: 628px;

  }
  
  .box_arrow-top {
    margin-top: 40px;
    z-index: 100;
  }
  
  .box_arrow-top:after {
    content: " ";
    position: absolute;
    right: 9px;
    top: -10px;
    border-top: none;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    border-bottom: 9.5px solid #404041;;
    z-index: 100;
  }
  
  .box_inside {
    padding: 7px;
    display:flex;
    align-items: center;
    z-index: 100;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .box_inside:hover {
      background: #242526;
      cursor: pointer;
  }
  
  .bug {
    height: 25px;
    width: 25px;
  }
  
  .bug{
    margin-right: 12px;
  }