.feed {
  width: 50%;
  text-align: center;
  height: 100vh;
}

.stories {
  width: 92%;
  height: 140px;
  
  margin-left: 35px;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  transition: transform 0.1s;
  
}
.stories img {
  border-radius: 10px;
  margin-right: 10px;
  height: 98%;
  
}

.story1:hover {
   opacity: 0.6;
   transform: scaleY(1.02);
   cursor: pointer;
   
}

.media_container {
  padding: 5px 32px;
}


