#inside {
    height: 32px   !important;
    width: 32px !important;
    position: relative;
    bottom: 185px;
    border-radius: 100%;
    border: 4.2px solid #2d88ff ;
    
  }
  #inside2 {
    position: relative;
    top: -70px;
    left: -40px;
    color: whitesmoke;
    height: 20px !important;
    width: 50px !important;
  
  }